.title{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0D0D0D;
}
@media (max-width: 767px){
    .title{
        font-size: 26px;
    }
}
@media (max-width: 575px){
    .title{
        font-size: 24px;
    }
}